<div class="page-wrapper">
  <app-header></app-header>
  <app-selectors></app-selectors>
  <button (click)="generateMap()" [disabled]="!data.selectedOptions">
    SHOW SELECTION ON MAP
  </button>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="defZoom">
    <agm-marker
      *ngFor="let m of markers"
      [latitude]="m.geocode.latitude"
      [longitude]="m.geocode.longitude"
    >
      <agm-info-window>
        <p>Name - {{ m.name }}</p>
        <p>Rating - {{ m.ratingValue }}</p>
        <p>Phone - {{ m.phone }}</p>
        <p>Hygiene - {{ m.score.Hygiene }}</p>
        <p>Structural - {{ m.score.Structural }}</p>
        <p>ConfidenceInManagement - {{ m.score.ConfidenceInManagement }}</p>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
